:root {
    --heading-font: "Ubuntu", "Poppins", Arial, Helvetica, sans-serif;
    --text-font: "Playfair Display", "Poppins", Arial, Helvetica, sans-serif;
    --color-black: rgba(0, 0, 0, 1);
    --color-charcoal: rgba(34, 34, 34, 1);
    --color-silver: rgba(192, 192, 192, 1);
    --color-light-silver: rgba(220, 220, 220, 1);
    --color-purple: rgba(75, 0, 130, 1);
    --text-color: var(--color-light-silver);
    --heading-color: var(--color-silver);
    --background-main: var(--color-black);
    --background-alt: var(--color-charcoal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

main {
    background-color: var(--color-light-silver);
    max-width: 1400px;
    margin: auto;
}


.logo img {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: inset 0 0 2px var(--color-light-silver), 0 0 5px var(--color-light-silver);
}

/* navigation menu section */

.nav-menu ul a {
    font-size: 1.2rem;
    transition: box-shadow 0.4s ease-out;
    padding: 0.5rem;
    color: var(--color-light-silver);
}

.nav-menu ul a:hover {
    box-shadow: 0 0 5px 2px var(--color-silver);
}

.nav-menu ul {
    display: flex;
    text-transform: capitalize;
    padding: 0;
    gap: 2rem;
    font-family: var(--heading-font);
    font-weight: 500;
}

/* header bar  */

header {
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-purple);
    padding: 10px 20px;
    position: relative;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 5px 2px var(--color-black);
}

/* chart  */
.cart-container {
    margin-left: auto;
    padding: 0 1.5rem;
}

.cart-container:hover {
    transform: scale(1.05);
}

.cart-link {
    position: relative;
}
#cart-count {
    position: absolute;
    color: var(--color-light-silver);
}
.cart-icon {
    width: 32px;
    height: auto;
    vertical-align:bottom;
    margin-left: -5px;
}

.add-to-cart {
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: 1.2rem;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-purple);
    color: var(--color-silver);
    max-width: 70%;
    border: none;
}

.add-to-cart:hover {
    transform: scale(1.05);
    color: var(--color-light-silver);
}

/* hamburger menu  */

.menu-icon {
    display: none;
}

/* hero section image */
.hero-slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-slide.active {
    opacity: 1;
    z-index: 1;
}

.hero-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-position: center top;
}

.hero-text {
    color: white;
    padding-left: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    font-family: var(--heading-font);
    z-index: 1;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
}

.men-collection > h2, .women-collection>h2 {
    text-transform: capitalize;
    color: var(--color-black);
    padding: 20px;
    margin: 30px;
    box-shadow: 0 0 5px 5px var(--color-purple);
    display: inline-block;
    border-radius: 10px;
}

.heading {
    text-align: center;
    font-size: 1.5rem;
}


/* headings  */

.women-collection > h2, .men-collection > h2 {
    margin: 30px auto;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    display: block;
    max-width: 90%;
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: capitalize;
}

.women-collection h3, .men-collection h3, .tech-collection h3 {
    font-family: var(--heading-font);
    text-shadow: 1px 1px 10px var(--color-purple);
    padding: 15px;
    margin-left: 15px;
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* product section product page */

.products-section p {
    color: var(--color-light-silver);
    font-family: var(--text-font);
    font-size: 2rem;
    padding: 20px;
}

.product-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
    margin: 0 1.5rem;
}

.product-grid .product-card {
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-grid .product-card img {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    height: 100%;
    max-height: 250px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

.image-wrapper {
    overflow: hidden;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-grid .product-card img:hover {
    transform: scale(1.3);
}

.product-card h2,
.product-card p {
    font-family: var(--text-font);
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--color-black);
    text-align: left;
    padding: 0 4px;
}

.product-card .description {
    font-weight: 300;
    font-size: 1rem;
    font-style: normal;
    margin: 0;
    padding: 4px 4px;
}

.stars {
    font-size: 1.3rem;
    color: var(--color-purple);
    margin-bottom: 30px;
}

.product-card .price {
    font-size: 1.1rem;
    font-family: var(--heading-font);
    font-weight: 500;
}




footer {
    background-color: var(--color-purple);
    color: var(--color-light-silver);
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0 3px 2px var(--color-charcoal);
    margin-top: 10px;
    font-family: "Ubuntu", var(--text-font);
    font-weight: 600;
}

footer a {
    color: var(--color-light-silver);
    text-decoration: underline;
}

footer a:hover {
    color: blue;
}


@media (max-width: 900px) {

    .logo img {
        max-width: 80px;
    }

    h1,
    h2,
    h3 {
        font-size: 2rem;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: var(--color-black);
    }

    .nav-menu ul li {
        border-bottom: 1px solid var(--color-charcoal);
    }

    .nav-menu ul li a {
        color: var(--color-charcoal);
    }

    .menu-icon {
        display: block;
        font-size: 2.5rem;
    }

    /* to target the stroke attribute of the svg  */

    .menu-btn {
        background-color: var(--color-purple);
        color: var(--color-light-silver);
        border: none;
    }

    .nav-menu.show-menu {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(192, 192, 192, 0.45);
        border-radius: 0 0 10px 10px;
        z-index: 9999;
        transition: 0.5s;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .reviews h3 {
        font-size: 1.1rem;
    }

    .reviews p {
        font-size: 1rem;
    }
}