:root {
    --white: #ffffff;
    --light-gray: #f5f7fb;
    --dark-gray: #2c3e50;
    --black: #000000;
    --accent: #1e90ff;
    --gray: #bdc3c7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: var(--black);
    padding: 20px 0;
    text-align: center;
}

#course-title {
    color: var(--accent);
    font-size: 1.8rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 15px;
    
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.5s ease-in;
    padding: 10px;
    box-shadow: 0 0 15px var(--accent);
}

.nav-links a:hover {
    color: var(--accent);
    font-weight: 700;
    font-size: 1.1rem;
    box-shadow: inset 0 0 10px  var(--white);
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--dark-gray);
    background-color: var(--white);
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--black);
}
.student-name {
    background-color: var(--light-gray);
    border-radius: 10px;
    width: 95%;
    margin: auto;
    padding: 3px;
    box-shadow: inset 0 0 5px var(--black);
}

.card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--black);
}

.card-heading {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 15px;
    color: var(--white);
    text-align: center;
    background-color: var(--black);
    box-shadow: 5px 5px var(--accent);
}

.about-section .card-heading {
    box-shadow: 5px 5px var(--white);
}

.card-container .card .about-section img {
    float: right;
    box-shadow: 0 0 15px var(--white);
}

.about-section {
    margin-bottom: 50px;
}

.about-section img {
    width: 100%;
    max-width: 150px;
    margin: 0 15px;
}

.about-section p, .country-section p, figure figcaption {
    padding: 10px;
    color: var(--light-gray);
}

.country-section h3 {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    color: var(--white);
}

.country-section figure {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
}

.country-section figure img {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 5px 5px var(--accent);
}

.country-section figcaption {
    font-size: 1rem;
}

.left-side {
    background-color: var(--dark-gray);
}

.right-side {
    background-color: var(--gray);
}

aside ul {
    padding-top: 30px;
    list-style: none;
    padding-left: 10px;
    max-width: 100%;
}

aside li {
    margin-bottom: 10px;
}

aside a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

aside a:hover {
    color: var(--accent);
}

footer {
    background-color: var(--black);
    color: var(--light-gray);
    text-align: center;
    padding: 20px;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }

    .country-section picture img {
        float: none;
        margin: 0 auto;
        display: block;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}