:root {
    --white: #ffffff;
    --light-gray: #f5f7fb;
    --dark-gray: #2c3e50;
    --black: #000000;
    --accent: #1e90ff;
    --gray: #bdc3c7;
    --heading: "Poppins", sans-serif, Arial,Helvetica, sans-serif;
    --text: "Ubuntu", sans-serif, Arial, Helvetica,sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray);
}

main {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--dark-gray);
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    color: var(--gray);
    background-color: var(--black);
    font-family: var(--heading);
    font-weight: 700;
    font-style: italic;
}

.product-form {
    width: 100%;
    border: 1px solid var(--white);
    padding: 1rem;
    border-radius: 10px; 
}

.asterix::after {
    content: "*";
    color: red;
}

fieldset {
    border-radius: 6px;
    padding: 1rem;
    border: 0.1px solid var(--gray);
}

legend {
    margin: 0 15px;
    padding: 6px;
    font-size: 1.3rem;
    color: var(--white);
    font-family: var(--heading);
    font-weight: 500;
}

fieldset > label {
    display: block;
    font-size: 1.1rem;
    margin: 10px 0;
    color: var(--light-gray);
    font-family: var(--text);
    font-weight: 300;
}

span {
    font-size: 1rem;
    font-style: italic;
}

/* ratting-stars */

.stars {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}

.stars > input {
    display: none;
}

.stars>label {
    font-size: 1.5rem;
    padding: 0.4em;
    transition: color 3s ease-in-out, transform 0.2s ease-in-out;
}

.stars > label:hover {
    transform: scale(1.3);
}

.stars label::before {
    content: "☆";
    transition: color 0.3s ease, content 0.3s ease;
}

.stars input:checked ~ label::before{
    content: "★";
    color: blue;
}

.stars > label:hover::before, .stars > label:hover ~label::before {
    content: "★";
    color: blue;
}

/* inputs */

input[type="date"], textarea, input[type="text"], input[type="date"], select{
    display: block;
    padding: 10px;
    width: 100%;
    appearance: none;
    border-radius: 10px;
}

input[type="checkbox"]:checked {
    accent-color: var(--accent);
}

input[type="submit"]{
    display: block;
    margin: 10px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 0.8rem auto;
    border-radius: 10px;
    font-family: var(--text);
    font-weight: 500;
    border: none;
    background-color: var(--accent);
    color: var(--light-gray);
    font-size: 1.2rem;
}
input[type="submit"]:hover {
    background-color: #2c689c;
}
input:required,
select {
    border-bottom: 8px solid red;
}

input:focus,
textarea:focus,
select:focus {
    background-color: var(--gray);
}

/* review styles */
.review p {
    margin: 2rem;
    font-family: var(--text);
    color: var(--light-gray);
}

.nw-review {
    padding: 10px;
    margin: 10px;
}

.nw-review a:hover {
    background-color: #2c689c;
}

.nw-review a {
    border: 1px solid var(--light-gray);
    text-decoration: none;
    color: var(--accent);
    padding: 10px;
    background-color: var(--accent);
    color: var(--light-gray);
    border-radius: 6px;
    font-family: var(--heading);
}

/* footer */

footer {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--black);
    color: var(--gray);
    font-size: 1.2rem;
}