@media screen and (min-width: 640px) {
    header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 100%;
        /* gap: 1rem; */
        align-items: center;
    }

    #menu {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

